<style>
  .row {
    display: flex;
  }

  .col-md-4 {
    flex: 1;

    margin: 5px;
    margin-left: 0%;
    margin-top: 5px;
  }

  .custom-hr {
    border: 1px solid #000;
    /* Set line color to black */
    margin: 10px 0;
    /* Add some margin above and below the line */
  }

  h1 {
    color: white;

    text-align: center;
  }

  .link {
    width: 100%;
    text-align: center;
    background-color: #00A9FF;
    height: 50px;


  }

  #p {
    top: 10px;
    font-size: large;
    text-align: center;
  }
</style>

<app-header></app-header>

<div class="main">
  <div class="row">
    <div class="col-md-4">
      <app-movie-list></app-movie-list>
    </div>

    <div class="col-md-4">
      <app-image-list></app-image-list>
    </div>

    <div class="col-md-4">
      <app-chore-list></app-chore-list>
    </div>

  </div>

</div>
<!-- {{name | slice:1:4}}
{{name | uppercase}}
{{name | lowercase}}
{{name | titlecase}}
{{100 | currency : 'INR'}}
{{date |date :"fulldate"}}
<div class="link">
  <p id="p"> <a href="#" target="_blank" rel="noopener noreferrer">Click to watch more</a> </p>
</div> -->

<!-- 
<h1 [style.backgroundColor]="color" #welcome > Welcome </h1>
<button (click)="changeColor()"> Change Color</button>

<div *ngIf="status; then ifblock else elseblock"></div>

<ng-template #ifblock>
  <p> If Block</p>
</ng-template>

<ng-template #elseblock>
  <p> else Block</p>
</ng-template> -->

<!-- 
<ng-container *ngIf="str==='morning' ; then morning; str==='afternoon' ; then afternoon else evening "></ng-container>

<ng-templete #morning>
  <h2> Good Morning</h2>
</ng-templete>

<ng-template #afternoon>
  <h2> Good Afternoon</h2>

</ng-template>
<ng-template #evening>
  <h2>Good Evening</h2>
</ng-template>
 -->

<!--  switch cases -->
<!-- <div [ngSwitch]="val">
    <h1 *ngSwitchCase="1">Sunday</h1>
    <h1 *ngSwitchCase="2">Monday</h1>
    <h1 *ngSwitchCase="3">Tuesday</h1>
    <h1 *ngSwitchCase="4">Wensaday</h1>
    <h1 *ngSwitchCase="5">Thursday</h1>
    <h1 *ngSwitchCase="6">Friday</h1>
    <h1 *ngSwitchCase="7">Saturday</h1>
    <h1 *ngSwitchCase="">Saturday</h1>
    <h1 *ngSwitchDefault>Default</h1>
</div>

<div *ngFor="let i of arr">
  <p>{{i}}</p>
</div>

<table border="1">
  <tr>
    <th>Employee Name</th>
    <th>Employee Salary</th>
  </tr>
 
  <tr *ngFor="let value of objArr">
    <td>{{value.empName}}</td>
    <td>{{value.empSalary}}</td>
  </tr>
</table>
 -->

<router-outlet></router-outlet>