<style>
    #movie {




        border: 2px solid black;

        inline-size: none;

        background-color: #333;
        color: white;

        text-align: center;
        position: fixed;

        width: 100%;

        text-align: center;


        display: block;
        width: 300px;
        height: 400px;
        margin: 100px auto;
        overflow: hidden;
        border-radius: 10px;


        background: linear-gradient(to top, rgb(46, 39, 147) 50%, transparent 100%);
        display: inline-grid;

        margin-left: 45px;

    }

    html,
    body {
        margin: 0;
        background: black;
        font-family: 'Montserrat', helvetica, arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
    }

    .jasmine-spec-list {
        text-align: left;
        text-transform: uppercase;

        color: rgb(255, 255, 255);
        padding-top: 5px;
        padding-left: 30px;
        padding-right: 10px;
        padding-bottom: 100px;

    }

    .jasmine-spec-list li {
        margin-bottom: 20px;
    }

    h2 {
        color: red;
    }

    #ls{
        font-size: 10px;
        text-align: left;
        text-transform: capitalize;
    }

    b{
        color: red;
    }
    a{
     font-weight: bold;
     color: chartreuse;
    }
</style>


<div class="movie-list highlighted block " id="movie">
    <h2>Chore List</h2>
    <div class="jasmine-spec-list">
        <li>Bright</li>
        <p id="ls">
            A detective must work with an Orc to find a powerful wand before evil creatures do.

            <strong> <b>Director</b></strong>
            <a href="#" > David Ayer</a>
            <strong> <b>Writer</b></strong>
           <a href=""> Max Landis </a>
            <strong>Stars</strong>
           <a href=""> Will SmithJoel EdgertonNoomi Rapace</a>
        </p>
        <li>tomb Raider</li>
        <p id="ls">
            Video game adventurer Lara Croft comes to life in a movie where she races against time and villains to
            recover powerful ancient artifacts.

            <b>Director</b>
            <a href="">Simon West</a>
            <b>Writers</b>
            <a href=""> Sara B. CooperMike WerbMichael Colleary</a>
            <b>Stars</b>
           <a href=""> Angelina JolieJon VoightIain Glen</a>
        </p>
        <li>Black Panther</li>

        <p id="ls">
            T'Challa, heir to the hidden but advanced kingdom of Wakanda, must step forward to lead his people into a
            new future and must confront a challenger from his country's past.

            <b>Director </b>
            Ryan Coogler
            <b>Writers</b>
            Ryan CooglerJoe Robert ColeStan Lee
           <b> Stars</b>
           <a href="">Chadwick BosemanMichael B. JordanLupita Nyong'o</a>
            

        </p>

    </div>

</div>