<!-- 
<style>
    .row {
        display: flex;

    }

    .col {
        flex: 1;

        margin: 5px;
        margin-left: 0%;

    }
</style>

<div class="row">
    <div class="col2">
        <img [src]="jawan" alt="Image 1" width="50" height="100">
    </div>
    <div class="col2">
        <img [src]="omg2" alt="Image 2" width="50" height="100">
    </div>
    <div class="col2">
        <img [src]="gadar2" alt="Image 3" width="50" height="100">
    </div>
    <div class="col2">
        <img [src]="dunki" alt="Image 4" width="50" height="100">
    </div>
</div> -->